<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mydomain.measurement">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true">

        <!-- Device Connect API リクエストのレシーバー -->
        <!--
        <receiver
            android:name=".MyMessageServiceProvider"
            android:enabled="true"
            android:exported="true">
            <meta-data
                android:name="org.deviceconnect.android.deviceplugin"
                android:resource="@xml/com_mydomain_measurement"/>
            <intent-filter>
                <action android:name="org.deviceconnect.action.GET"/>
                <action android:name="org.deviceconnect.action.PUT"/>
                <action android:name="org.deviceconnect.action.POST"/>
                <action android:name="org.deviceconnect.action.DELETE"/>

                <action android:name="com.mydomain.measurement.DOZE_TEST"/>
            </intent-filter>
        </receiver>
        -->

        <!-- プラグイン本体サービス -->
        <service
            android:name="com.mydomain.measurement.MyMessageService"
            android:exported="true">

            <!-- プラグイン設定ファイル -->
            <meta-data
                android:name="org.deviceconnect.android.deviceplugin"
                android:resource="@xml/com_mydomain_measurement"/>

            <!-- プラグイン名 -->
            <meta-data
                android:name="org.deviceconnect.android.deviceplugin.name"
                android:value="@string/app_name_included"/>

            <!-- アイコン -->
            <meta-data
                android:name="org.deviceconnect.android.deviceplugin.icon"
                android:resource="@drawable/ic_launcher"/>
        </service>
    </application>

</manifest>
